:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
}

*{
  margin: 0;
  padding: 0;
}

@media (max-width: 450px){
  #quote-box{
    width: 375px;
    min-height: 265px;
    margin-left: 5px;
  }
  #text{
    min-height: 250px;
  }
  body{
    overflow-x: hidden;
  }
  a{
  position: relative;
  left: 15px;
  bottom: 5px;
}
  button{
    position: relative;
    color: black;
    width: 40%;
    left: 290px;
    top: 40px;
  }
  footer{
  bottom: 5px;
}
}
