:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
}

*{
  margin: 0;
  padding: 0;
}

@media (max-width: 450px){
  #quote-box{
    width: 400px;
    min-height: 275px;
    margin-left: 0px;
  }
  body{
    overflow-x: hidden;
  }
  a{
  position: relative;
  left: 5px;
  bottom: 10px;
}
  button{
    position: relative;
    color: black;
    left: 250x;
    top: 30px;
  }
}
